.box-row {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

.box-column {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.box-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid red;
}

.box-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid blue;
}

.box-wrap-row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
}

.box-wrap-column {
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: column; */
    flex-flow: column wrap;
    /* shorthand */
    border: 1px solid green;
    height: 100px;
}

.box-flex {
    display: flex;
}

.item {
    border: 1px solid black;
}

.item-one {
    flex: 1;
}

.item-two {
    flex: 2;
}

.item-three {
    flex: 3;
}